sudo: false
language: java
jdk:
  - oraclejdk8
addons:
  apt:
    packages:
      - oracle-java8-installer
before_install:
  - echo 'export MAVEN_OPTS="-Xmx1g -XX:NewRatio=1"' > ~/.mavenrc
  - rm -f ~/.m2/settings.xml
  - echo TRAVIS_TAG=$TRAVIS_TAG
  - echo TRAVIS_BRANCH=$TRAVIS_BRANCH
  - echo TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST
before_cache:
  - mvn -B -nsu -q dependency:resolve-plugins coveralls:help
cache:
  directories:
    - $HOME/.m2
after_success:
  - mvn -B -nsu clean test jacoco:report coveralls:report
